{% extends "content/base" %}

{% block css %}
<link rel="stylesheet" href="/static/css/tag.css">
{% endblock css %}

{% block title %}
标签云
{% endblock title %}

{% block content %}
<div class="">
    {% if render_data.tags %}

    {% for i in render_data.tags %}
    <a href="/tag/{{i.name}}" class="tag">
        {{i.name}}
    </a>
    {% endfor %}
    {% endif %}

</div>
{% endblock content %}